/*
* @Author: 吴腾鹏
* @Date:   2017-08-26 15:09:31
* @Last Modified by:   吴腾鹏
* @Last Modified time: 2017-08-27 10:38:15
*/
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft Yahei",微软雅黑;
}

a {
	text-decoration: none;
}
h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}